* {
    font-family: 'Roboto Mono', monospace;
    font-weight: lighter;
    color: #333;
}

#container {
    width: 100%;
    max-width: 800px;
    margin: 1em auto 4em auto;
}

.content {
    h2 {
        background: #222;
        color: white;
        padding: 6px;
    }
}

#temp-message {
    width: 96%;
    max-width: 600px;
    margin: 2em auto;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 4em;
    background: black;
    color: white;
    padding: 0.5em;
    transform: rotate(-2deg);
    text-transform: uppercase;
    box-shadow: 12px 12px 12px #333;
}

#temp-logos {
    width: 96%;
    max-width: 600px;
    margin: 1em auto 2em auto;
    text-align: center;
    vertical-align: top;
    img {
        width: 25%;
        margin: 0 0.25em;
        cursor: pointer;
    }
}